<!DOCTYPE html>
<html>
<head>
    <title>PhishShield AI - Analytics</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <h1>📊 Security Analytics</h1>
    <p class="subtitle">Real-time Scan Statistics</p>

    <div class="stats">

        <div class="box">
            <h2>{{ total }}</h2>
            <p>Total Scans</p>
        </div>

        <div class="box">
            <h2>{{ safe }}</h2>
            <p>Safe</p>
        </div>

        <div class="box">
            <h2>{{ phishing }}</h2>
            <p>Phishing</p>
        </div>

    </div>

    <div class="card" style="text-align:center;">

        <h2>Protection Summary</h2>

        <svg width="220" height="220" viewBox="0 0 42 42">

            <!-- Background -->
            <circle cx="21" cy="21" r="15.9"
                fill="transparent"
                stroke="#334155"
                stroke-width="5"/>

            <!-- Safe -->
            <circle cx="21" cy="21" r="15.9"
                fill="transparent"
                stroke="#22c55e"
                stroke-width="5"
                stroke-dasharray="{{ (safe*100/total) if total else 0 }} 100"
                stroke-dashoffset="25"/>

            <!-- Phishing -->
            <circle cx="21" cy="21" r="15.9"
                fill="transparent"
                stroke="#ef4444"
                stroke-width="5"
                stroke-dasharray="{{ (phishing*100/total) if total else 0 }} 100"
                stroke-dashoffset="{{ 25 + ((safe*100/total) if total else 0) }}"/>

            <text x="21" y="22"
                text-anchor="middle"
                font-size="4"
                fill="white">
                {{ total }}
            </text>

        </svg>

        <h3 style="color:#22c55e;">🟢 Safe : {{ safe }}</h3>
        <h3 style="color:#ef4444;">🔴 Phishing : {{ phishing }}</h3>

    </div>

    <a href="/">
        <button>⬅ Back to Dashboard</button>
    </a>

</div>

</body>
</html>
