<!DOCTYPE html>
<html>
<head>
    <title>PhishShield AI</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <h1>🛡 PhishShield AI</h1>
    <p class="subtitle">
        AI Powered Cybersecurity Dashboard
    </p>

    <!-- Statistics -->
    <div class="stats">

        <div class="box">
            <h2>🌐</h2>
            <h3>URL Scanner</h3>
        </div>

        <div class="box">
            <h2>📧</h2>
            <h3>Email Scanner</h3>
        </div>

        <div class="box">
            <h2>🤖</h2>
            <h3>AI Detection</h3>
        </div>

    </div>

    <!-- URL Scanner -->
    <div class="card">

        <h2>🔍 Scan Suspicious URL</h2>

        <form action="/scan" method="POST">

            <input
                type="url"
                name="url"
                placeholder="https://example.com/login"
                required>

            <button>Analyze URL</button>

        </form>

    </div>

    <!-- Email Scanner -->
    <div class="card">

        <h2>📧 Analyze Email</h2>

        <form action="/email_scan" method="POST">

            <textarea
                name="email"
                rows="7"
                placeholder="Paste suspicious email here..."
                required></textarea>

            <button>Analyze Email</button>

        </form>

    </div>

    <!-- History -->
    <div class="card">

        <h2>🕘 Recent Scans</h2>

        <table>

            <tr>
                <th>URL</th>
                <th>Status</th>
                <th>Risk</th>
            </tr>

            {% for row in history %}
            <tr>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}%</td>
            </tr>
            {% endfor %}

        </table>

    </div>

</div>

</body>
</html>
